{% load static %}
<!DOCTYPE html>

<html lang="en-GB" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }} - Details</title>
    <link rel="stylesheet" href="{% static 'Catalog/style_default.css' %}">
</head>

<body>

    <!-- Put a banner at the top of the site -->
    <div id="Banner">
        <header>
            <img src="{% static 'Catalog/library_banner.jpg' %}" width=100% height=250px>
        </header>
    </div>

    <h1>{{ book.title }}</h1>

    {% if book.cover %}
    <img src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% endif %}

    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Summary:</strong> <br> {{ book.summary }}</p>

    <p>
        <strong>Status:</strong>
        {% if book.available %}
        Available
        {% else %}
        Not Available
        {% endif %}
    </p>

    <a href="{% url 'Catalog:catalog_home' %}">Back to Search</a>
</body>
</html>