USE MASTER
GO

-- Check if the database already exists in the system
IF NOT EXISTS (
   SELECT name
   FROM sys.databases
   WHERE name = N'Library_DB'
)
BEGIN
    CREATE DATABASE Library_DB;
END
GO

USE Library_DB;

-- Create tables 

CREATE TABLE Book (
	BookID INT IDENTITY(1,1) PRIMARY KEY,
	Title VARCHAR(255),
	Author VARCHAR(255),
	ISBN VARCHAR(13),
	Available BIT DEFAULT 1
);

CREATE TABLE Users (
	UserID UNIQUEIDENTIFIER DEFAULT NEWID() PRIMARY KEY,
	FirstName VARCHAR(255),
	LastName VARCHAR(255),
	Mail VARCHAR(255)
);

CREATE TABLE Borrow (
	BookID INT NOT NULL,
	UserID UNIQUEIDENTIFIER NOT NULL,
	BorrowDate DATE DEFAULT GETDATE(),
	ReturnDate DATE DEFAULT DATEADD(DAY, 21, GETDATE()),
	PRIMARY KEY (BookID, UserID),
	FOREIGN KEY (BookID) REFERENCES Book(BookID),
	FOREIGN KEY (UserID) REFERENCES Users(UserID)
);

-- Fill tables with data


INSERT INTO Users(FirstName, LastName, Mail)
VALUES
('Emma', 'Dupont', 'emma.dupont@mail.com'),
('Louis', 'Moreau', 'louis.moreau@mail.com'),
('Camille', 'Lefevre', 'camille.lefevre@mail.com'),
('Hugo', 'Bernard', 'hugo.bernard@mail.com'),
('Alice', 'Lambert', 'alice.lambert@mail.com'),
('Nathan', 'Carpentier', ''),
('Léa', 'Fontaine', 'lea.fontaine@mail.com'),
('Gabriel', NULL, 'gabriel.roussel@mail.com'),
('Chloé', 'Martin', 'chloe.martin@mail.com'),
('Mathieu', 'Dubois', 'mathieu.dubois@mail.com')